<div>
    <div>
        <b>Search by Name:</b>
      <input type="text" placeholder="Search" ng-model="userSearch">
    </div>
  </div>
<div>
    <table  class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Technology</th>
        </tr>
        <tr ng-repeat="employee in employees | orderBy:'id' | filter: userSearch">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.tech}}</td>
        </tr>
    </table>
</div>
